include *.md
include *.txt
include *.yml
include *.yaml
include *.rst
include *.ini
include *.csv
include carculator_utils/data/*.csv
include carculator_utils/data/*.json
include carculator_utils/data/*.yaml
include carculator_utils/data/*.yml
include LICENSE
